<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carlosrkm.bio_pappelscribe">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.ydcool.lib.qrmodule.activity.QrScannerActivity" />
        <activity android:name=".RegistroUsuariosActivity" />
        <activity android:name=".ConsultarUsuariosActivity" />
        <activity android:name=".DemoGeneratorActivity"></activity>
        <activity android:name=".MainActivityGenerator"></activity>
        <activity android:name=".ShowGenerateQr"></activity>
    </application>

</manifest>